.renderCodes,
.renderBodyShapes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .qrCodeBox {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

    &:hover {
      background-color: rgb(var(--black), 0.03);
      cursor: pointer;
    }
  }

  .active {
    border: 0.25rem solid rgb(var(--primary));
  }
}

.qrSectionRender {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .renderColors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .colorBox,
    .colorPickerIconBox {
      width: 5rem;
      min-width: 5rem;
      max-width: 5rem;
      height: 5rem;
      min-height: 5rem;
      max-height: 5rem;
      border-radius: 100rem;
      cursor: pointer;
    }

    .colorPickerIconBox {
      border: 0.2rem solid rgb(var(--black), 0.1);
      display: flex;
      align-items: center;
      justify-content: center;

      .colorPickerIcon {
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(0) saturate(100%) invert(43%) sepia(31%)
          saturate(182%) hue-rotate(163deg) brightness(90%) contrast(95%);
      }
    }
  }

  .inputBox {
    display: flex;
    align-items: center;
    background-color: rgba(var(--primary), 0.01);
    border-color: rgba(var(--primary), 0.1);
    border-width: 0.01rem;
    border-style: solid;
    border-radius: 1rem;
    padding-right: 0.35rem;
    padding-left: 1.5rem;

    .uploadLogo {
      width: 1.5rem;
      height: 1.5rem;
    }

    .fileInput {
      width: 100%;
      outline: none;
      border: none;
      font-size: 1.3rem;
      line-height: 100%;
      padding-block: 1.2rem;
      color: rgb(var(--black));
      border-radius: 1rem;
      background-color: rgba(var(--primary), 0.01);
      padding-left: 1rem;

      &::placeholder {
        color: rgba(var(--primary), 0.3);
      }
    }

    .uploadButton {
      border-radius: 0.7rem !important;
      padding: 1rem 2rem !important;
    }
  }

  .renderSelectedLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.4rem;
    border-radius: 1rem;
    background-color: rgba(var(--primary), 0.01);
    border: 0.1rem solid rgba(var(--primary), 0.1);

    .iconAndImageName {
      display: flex;
      align-items: center;
      gap: 1rem;

      .imageLogoContainer {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .imageLogo {
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      .logoNameText {
        font-size: 1.3rem;
        line-height: 125%;
        font-weight: 400;
        color: rgb(var(--black));
      }
    }

    .deleteIconContainer {
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .deleteIcon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .logoNote {
    color: rgb(var(--black), 0.3);
    margin-top: 1.5rem;
  }

  .switchBox {
    display: flex;
    align-items: center;
    gap: 2rem;

    .switchLabel {
      font-size: 1.8rem;
      line-height: 125%;
      color: rgb(var(--black));
      font-weight: 500;
    }
  }

  .inputGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .renderShapes {
    display: flex;
    align-items: center;
    gap: 2rem;

    .iconBox {
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(var(--black), 0.03);
      border: 0.1rem solid rgb(var(--black), 0.08);
      border-radius: 1rem;
      cursor: pointer;
      padding: 1.2rem;

      .icon {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .qrCodeSectionSeparate {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.qrCodeSection {
  padding: 2rem 3rem;

  .qrCodeSectionTitle {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
