.commonTextarea {
  display: flex;
  flex-direction: column;
}

.commonTextarea > .labelContainer {
  margin-bottom: 0.8rem;
}

.errorTextAndCounterContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.counterText {
  width: fit-content !important;
}

.Textarea {
  width: 100%;
  outline: none;
  background-color: rgba(var(--primary), 0.01);
  border-width: 0.01rem;
  border-style: solid;
  border-color: rgba(var(--primary), 0.1);
  resize: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  line-height: 100%;
  padding: 1.2rem 1.4rem;
  color: rgb(var(--black));
}

.Textarea::placeholder {
  color: rgba(var(--primary), 0.3);
}

.Textarea:hover {
  border-color: rgba(var(--primary), 0.35);
}

.Textarea:focus {
  border-color: rgba(var(--primary));
}
