.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 36rem;

  .uploadIcon {
    width: 10rem;
    height: 10rem;
  }

  .uploadGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .uploadHeading {
      font-size: 1.3rem;
      line-height: 125%;
      font-weight: 500;
    }

    .uploadDescription {
      font: 1.1rem;
      line-height: 125%;
      font-weight: 400;
    }
  }
}

/* Media Form */

.mediaForm {
  display: flex;
  padding: 1rem 3rem;

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .actionButtonColorGroup {
      .buttonGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.8rem;
        margin-top: 1.5rem;
      }
    }

    .engagementGroup {
      .engagementInputGroup {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
      }
    }

    .radioGroup {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;
    }
  }

  .mediaPreview {
    flex: 0.5;

    .videoContainer {
      position: relative;
      width: fit-content;
      height: 20rem;
      margin-top: 2rem;

      .video {
        aspect-ratio: 9/16;
        width: 100%;
        height: 100%;
        border-radius: 0.6rem;
      }

      .playIconContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(var(--black), 0.2);

        .playIcon {
          width: 3rem;
          height: 3rem;
          filter: var(--white-filter);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .mediaForm {
    flex-direction: column;
    gap: 2.5rem;
  }

  .mediaPreview,
  .form {
    width: 100%;
  }
}

.iconAndInput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--black), 0.02);
  border: 0.1rem solid rgb(var(--black), 0.1);
  padding: 0.7rem 1.1rem;
  border-radius: 0.6rem;

  .iconContainer {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 80%;
      height: 80%;
    }
  }

  .vanityInput {
    font-size: 1.3rem;
    line-height: 125%;
    font-weight: 400;
    outline: none;
    background: none;
    border: none;
    text-align: center;
    width: 2.5rem;
    color: rgb(var(--black), 0.3);

    &::placeholder {
      color: rgb(var(--black), 0.3);
    }
  }
}
