.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(var(--white));
  position: fixed;
  height: calc(100vh);
  border-right: var(--border-width) solid rgba(var(--black), 0.1);
  z-index: 99999;
  padding: 2rem;

  .iconContainer {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0rem 1rem;
    margin-bottom: 5rem;

    .appLogo {
      height: 3.2rem;
    }

    .appTitle {
      font-size: 2.2rem;
      line-height: 125%;
      font-weight: 900;
      white-space: nowrap;
    }
  }

  .expanded {
    justify-content: center;

    .appTitle {
      display: none;
    }
  }

  .sectionsContainer,
  .bottomSection {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: auto;
    flex-grow: 1;
    gap: 0.2rem;
  }

  .bottomSection {
    justify-content: flex-end;
  }

  ::-webkit-scrollbar {
    width: 0.75rem;
    height: 100%;
    border-radius: 1.5rem;
    background-color: rgba(var(--black), 0.025);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--black), 0.25);
    border-radius: 1.5rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 1.5rem;
  }
}

.sidebar ::-webkit-scrollbar-thumb&:hover {
  background-color: rgba(var(--primary));
}
