.plans {
  padding: 0rem 3rem;

  .renderPlans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

/* ------------------------------ */
.planCard {
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(var(--white));
  border: 0.15rem solid rgb(var(--primary), 0.05);

  .nameAndEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .monthlyPrice {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .monthly {
      font-size: 1.75rem;
      font-weight: 900;
    }
  }
}
