.library {
  /* border: 2px solid red; */

  .searchBar {
    padding-inline: 2rem;
    padding-bottom: 2rem;
    border-bottom: var(--border-width) solid rgba(var(--black), 0.1);
  }

  .renderMediaCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .gridColumn {
      border-bottom: var(--border-width) solid rgba(var(--black), 0.1);
      border-right: var(--border-width) solid rgba(var(--black), 0.1);
    }
  }
}
