.Dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.dropdownSelectedItemRender {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.dropdownMenuContainer {
  width: 100%;
  min-width: 22rem;
  background-color: rgb(var(--white));
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.1rem solid rgba(var(--primary), 0.1);
  border-radius: 1rem;
  max-height: 30rem;
  height: fit-content;
  overflow-y: auto;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dropdownElementActive {
  background-color: rgb(var(--primary));
  color: rgb(var(--white));
}

.dropdownElementActive:hover {
  background-color: rgb(var(--primary-hover));
}

.noDataFound {
  text-align: center;
  list-style: none;
  margin-top: 1rem;
}

.dropdownItem {
  list-style: none;
  text-align: start;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 125%;
  text-transform: capitalize;
  cursor: pointer;
  color: rgb(var(--secondary-text-color));
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdownItem:hover {
  background-color: rgb(var(--primary), 0.05);
  transition: 0.3s;
}

.dropdownItemWithCheckBox {
  font-size: 1.4rem;
  line-height: 125%;
  color: rgb(var(--primary-text-color));
}

.field {
  width: 100%;
  outline: none;
  background-color: transparent;
  border-radius: 1rem;
  border-width: 0.01rem;
  border-style: solid;
  border-color: rgba(var(--primary), 0.1);
  background-color: rgba(var(--primary), 0.01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1.2rem 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(var(--primary-text-color));
  cursor: pointer;
}

.field:enabled:hover {
  border-color: rgba(var(--primary), 0.35);
}

.field:enabled:focus {
  border-color: rgb(var(--primary));
}

.valueText {
  font-size: 1.3rem;
  line-height: 100%;
  color: rgb(var(--primary-text-color));
}

.placeholderText {
  color: rgb(var(--tertiary-text-color));
}

.upDownIconBox {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upDownIcon {
  width: 100%;
  transition: 0.3s;
  margin-top: 0.1rem;
}

.downIcon {
  transform: rotate(180deg);
}

.errorText {
  margin-top: 0.8rem;
}

.helperText {
  margin-top: 0.8rem;
}

/* ------------------------------------------- */

.selectedItemChip {
  display: inline-flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 1.2rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--tertiary-text-color), 0.05);
  border: 0.1rem solid rgb(var(--tertiary-text-color), 0.1);
}

.selectedItemName {
  font-size: 1rem;
  line-height: 125%;
  text-transform: capitalize;
  color: rgb(var(--primary-text-color));
}

.selectedItemChipCloseIcon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
