.globalFeature {
  padding: 0rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

/* ------------------------------ */

.globalFeatureRow {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: rgb(var(--white));
  border: 0.15rem solid rgb(var(--primary), 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .text {
    font-size: 1.75rem;
  }
}
