.renderQrCodeBody {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green !important; */
  /* border-radius: 50%; */
  /* background-color: black; */
  /* border: 2px solid green; */
  height: fit-content;

  * {
    transition: none !important;
  }

  .qrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .topName,
  .bottomName {
    position: absolute;
    color: rgb(var(--white));
    font-size: 1.6rem;
    line-height: 125%;
    font-weight: 600;
  }

  .topName {
    top: 0.5rem;
  }

  .bottomName {
    bottom: 0.5rem;
  }

  .mainQrCodeContainer {
    padding: 5%;
    border-radius: 5%;
  }
}

.bandSvg {
  width: 30rem;
  height: 27.5rem;
  position: absolute;
}
