.infoWrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .renderCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
  }
}
