.listingDetail {
  display: flex;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  .leftPart {
    flex: 1;
  }

  .rightPart {
    flex: 0.45;
    border-left: var(--border-width) solid rgba(var(--black), 0.1);
    height: calc(100dvh - var(--top-bar-height));
    position: sticky;
    top: var(--top-bar-height);

    .previewContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .previewImage {
        width: 30rem;
        box-shadow: 0px -20px 20px 0px rgba(var(--black), 0.2);
      }

      .qrCodePreview {
        width: 80%;
        height: 30rem;
        border-radius: 3rem;
        border: 0.5rem solid #e5e5e5;
        box-shadow: 0px 5px 20px 0px rgba(var(--black), 0.2);
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .qrCodeActions {
      margin-top: 3rem;
      padding: 0rem 4.5rem;

      .value {
        text-align: center;
        font-size: 1.4rem;
        color: rgba(var(--black), 0.3);
        font-weight: 400;
      }

      .buttonGroup {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        .actionButton {
          width: 100%;
          border-radius: 1rem;
          border: 0.1rem solid rgba(var(--black), 0.03);

          .copyIcon {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }

      .helperText {
        margin-top: 1.5rem;
        align-items: center;

        p {
          font-size: 1.3rem;
          line-height: 125%;
          font-weight: 400;
        }
      }
    }
  }
}
