.renderCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 40rem;
}

.cardTitle {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
  text-transform: capitalize;
}

.cardBody {
  font-size: 2.5rem;
  color: #555;
}
