.statCard {
  padding: 2rem 1rem;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  border-radius: 2rem;
  border: 0.15rem solid rgb(var(--black), 0.08);
  height: 18rem;
  max-height: 18rem;
  min-height: 18rem;
  background-color: rgb(var(--primary), 0.04);

  .time {
    font-size: 1.5rem;
    line-height: 125%;
    font-weight: 400;
    color: rgb(var(--black), 0.7);
  }

  .countAndText {
    display: flex;
    flex-direction: column;
    align-items: center;

    .count {
      font-size: 4rem;
      line-height: 125%;
      font-weight: 600;
      color: rgb(var(--black));
    }
  }
}
