.mediaComponent {
  .media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.5rem;
  }

  .mediaSectionFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 3rem;
    border-top: var(--border-width) solid rgb(var(--black), 0.1);
    position: sticky;
    bottom: 0;
    background-color: rgb(var(--white));

    .mediaFooterText {
      font-size: 1.1rem;
      line-height: 125%;
      color: #1a2d3b50;
    }

    .moveIconReference {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        width: 0.6rem;
        height: 1.1rem;
      }
    }
  }
}

/* -------------------------- */

.actionIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem !important;
  height: 3.2rem !important;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(var(--black), 0.1);
  }

  .actionIcon {
    width: 1.7rem;
    height: 1.7rem;
  }
}

/* -------------------------------------------- */
.mediaCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 4rem;

  .moveIconAndCard {
    .moveIconContainer {
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .moveIcon {
        width: 46%;
        height: 80%;
      }
    }
  }

  .mainCard {
    padding: 1.5rem;
    border: var(--border-width) solid rgb(var(--black), 0.1);
    background-color: rgb(var(--white));
    border-radius: 2rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    .videoContainer {
      position: relative;

      .thumbnail {
        width: 7.5rem;
        height: 11rem;
        border-radius: 0.6rem;
        object-fit: cover;
      }

      .playIconContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(var(--black), 0.2);

        .playIcon {
          width: 3rem;
          height: 3rem;
          filter: var(--white-filter);
        }
      }
    }

    .infoSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .textSection {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;

        .text {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .title,
          .description {
            font-size: 1.5rem;
            line-height: 125%;
            font-weight: 600;
          }

          .description {
            font-weight: 400;
            color: rgb(var(--black), 0.5);
          }
        }

        .actionContainer {
          padding: 0.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }

      .engagementSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .engagementRowClass,
        .engagementRowTwo {
          padding: 0.6rem;
          border-radius: 0.6rem;
          background-color: rgb(var(--black), 0.02);
          border: var(--border-width) solid rgb(var(--black), 0.1);
        }

        .engagementRowTwo {
          background-color: transparent;
          border-color: transparent;
          padding-block: 0rem;
        }
      }

      .smsSection {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .messageHeading,
        .message {
          font-size: 1.3rem;
          line-height: 125%;
          font-weight: 500;
        }

        .message {
          font-weight: 400;
        }
      }

      .button {
        border-radius: 0.8rem;
      }
    }
  }
}
