.form {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.saveButton {
  padding: 1.2rem 5rem !important;
  font-size: 1.3rem !important;
  line-height: 125%;
  border-radius: 1rem !important;
}
