.head {
  width: 100%;
  outline: none;
  border: none;
}

tr {
  border-bottom: var(--border-width) solid rgba(var(--black), 0.1);
}

th {
  vertical-align: center;
}

.columnLabelAndSortingIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clickable {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.columnLabel {
  font-size: var(--data-table-cell-font-size);
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  color: rgba(var(--black), 0.5);
}
