.Button {
  position: relative;
  outline: none;
  border: none;
  border-radius: 1000rem;
  text-align: center;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  cursor: pointer;
  transition: 0.3s;
}

.Button:enabled:hover {
  background-color: var(--backgroundHoverColor);
}

.Button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.Button > .loaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000rem;
}
