.profileSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0rem 3rem;

  .leftPart {
    display: flex;
    align-items: center;
    gap: 2rem;

    .profileAndEditButton {
      position: relative;

      .editIcon {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .textBox {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .name {
        font-size: 1.8rem;
        line-height: 125%;
        font-weight: 600;
      }

      .description {
        font-size: 1.5rem;
        line-height: 125%;
        font-weight: 400;
        color: rgb(var(--black), 0.5);
        max-width: 35rem;
      }

      .iconLinkBox {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .linkIconText {
          font-size: 1.5rem;
          line-height: 125%;
          font-weight: 400;
          color: rgb(var(--black));
        }

        .iconLinkIconBox {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100rem;
          background-color: rgb(var(--black), 0.1);
          cursor: pointer;

          .iconLinkIcon {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }

  .rightPart {
    .editButton {
      border-radius: 1rem;
      padding-inline: 4rem !important;
      border: var(--border-width) solid
        rgba(var(--header-button-background-color), 0.25);
      background-color: rgb(
        var(--header-button-background-color),
        0.15
      ) !important;

      &:hover {
        background-color: rgb(
          var(--header-button-background-color),
          0.25
        ) !important;
        border: var(--border-width) solid
          rgba(var(--header-button-background-color), 0.5);
      }
    }
  }
}
