.iconBox {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortingIcon {
  width: 60%;
  height: 60%;
  filter: var(--black-filter);
  opacity: 0.5;
}
